body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(102, 128, 206, 0.725);
    font-family: "Poppins", sans-serif;
}

.main-container {
    text-align: center;
}

.qr-container{
    background: #fff;
    display: flex;
    width: 20%;
    flex-direction: column;
    padding: 1.2em 0;
    margin: 7em auto;
    border-radius: 1em;
}

.qr-code-img {
    width: 85%;
    border-radius: 1em;
}

.content-part {
    margin: 0 2em;
}

.first-para {
    font-size: 1rem;
    font-weight: bold;
}

.second-para {
    font-size: 0.9rem;
    color: #000000a5;
}

@media (max-width: 1000px){
    .qr-container {
        width: 40%;
    }
}

@media (max-width: 450px) {
    .qr-container {
        width: 80%;
        margin: 6em auto;
    }
}