body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(102, 128, 206, 0.725);
    font-family: "Poppins", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.qr-container{
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 7em auto;
    border-radius: 1em;
}

.qr-code-img {
    border-radius: 1em;
}

.first-para {
    font-size: 1rem;
    font-weight: bold;
}

.second-para {
    font-size: 0.5rem;
    color: #000000a5;
}